@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,500,700');

html, body {
    height: 100vh;
    width: 100%;
    font-family: 'Comfortaa', Arial, sans-serif;
    color: #575757;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'SF UI Display Ultralight';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Ultralight'), url('/font/sf-ui-display-ultralight.woff') format('woff');
}


@font-face {
    font-family: 'SF UI Display Thin';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Thin'), url('/font/sf-ui-display-thin.woff') format('woff');
}


@font-face {
    font-family: 'SF UI Display Light';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Light'), url('/font/sf-ui-display-light.woff') format('woff');
}


@font-face {
    font-family: 'SF UI Display Medium';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Medium'), url('/font/sf-ui-display-medium.woff') format('woff');
}


@font-face {
    font-family: 'SF UI Display Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Semibold'), url('/font/sf-ui-display-semibold.woff') format('woff');
}


@font-face {
    font-family: 'SF UI Display Bold';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Bold'), url('/font/sf-ui-display-bold.woff') format('woff');
}

.navbar {
    font-family: "SF UI Display", Arial, sans-serif;
    text-transform: lowercase;
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(4px);
    background-color: rgba(33, 33, 33, 0.8)!important;
}

.navbar-nav li {
    padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: #aaa;
    padding-top: .8rem;
    transition: 0.3s ease
}

#nav-bar ul li a:hover {
    color: #ffffff;
}

.video-background {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.video-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#video {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
    z-index: -1000;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}

.row, .container-fluid {
    margin-left: 0px!important;
    margin-right: 0px!important;
}

.caption {
    position: absolute;
    top: 38%;
    width: 100%;
    color: white;
}

.missing-text {
    padding-top: 10rem;
}

.caption h1 {
    font-family: "SF UI Display Ultralight", Arial, sans-serif;
    font-size: 900%;
    font-weight: 0;
    text-shadow: .1rem .1rem .8rem gray;
    padding-bottom: 1rem;
}

.caption h3 {
    text-shadow: 1px 1px 8px #000;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.btn-lg {
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.7);
    border-radius: 40px;
    background: transparent;
    font-size: 1.1rem;
    padding: .6rem 1.3rem;
    transition: all 0.3s ease 0s;
}

.btn-lg:hover {
    border-color: rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.8);
}

.download-section > a {
    font-family: "Arial", Arial, sans-serif;
    border-width: 1px;
    border-radius: 40px;
    width: 48%;
    background: #ddd;
    border-color: #ddd;
    color: #4a4a4a;
    font-size: 1.1rem;
    padding: .6rem 1.3rem;
    transition: all 0.3s ease 0s;
}

.download-section > a:hover {
    background-color: darkgray;
}

.dl-title {
    margin-top: -4rem;
}

.dl-text {
    font-size: 1.2rem;
}

.about-title {
    font-family: "SF UI Display", Arial, sans-serif;
}

.überschrift {
    font-family: "SF UI Display Thin", Arial, sans-serif;
    font-size: 500%;
    text-transform: lowercase;
    letter-spacing: .1rem;
}

/*---Media Queries --*/
@media (max-width: 992px) {
    .social a {
        font-size: 4em;
        padding: 2rem;
    }
    .caption h3 {
        font-size: 140%;
        padding-bottom: 1.2rem;
    }
    .caption h1 {
        font-size: 500%;
        letter-spacing: .1rem;
        padding-bottom: .5rem;
    }
    .überschrift {
        font-size: 400%;
    }
}
@media (max-width: 768px) {
    .display-4 {
        font-size: 280%;
    }
    .social a {
        font-size: 2.5em;
        padding: 1.2rem;
    }
    .caption h3 {
        font-size: 140%;
        padding-bottom: 1.2rem;
    }

    .btn-lg {
        font-size: 1rem;
        padding: .5rem 1rem;
    }
    .überschrift {
        font-size: 350%;
    }
}
@media (max-width: 576px) {
    .display-4 {
        font-size: 240%;
    }
    .social a {
        font-size: 2em;
        padding: 0.7rem;
    }
    .caption h1 {
        font-size: 400%;
        letter-spacing: .1rem;
        padding-bottom: .5rem;
    }
    .caption h3 {
        font-size: 110%;
        padding-bottom: 1.2rem;
    }
    .überschrift {
        font-size: 300%;
    }
}

.welcome {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}

.welcome hr {
    border-top: 1px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}


.fa-thumbs-up {
    font-size: 4em;
    margin: 1.4rem;
}

.fa-code {
    font-size: 4em;
    margin: 1.4rem;
}

.fa-bars {
    font-size: 4em;
    margin: 1.4rem;
}

.about-text {
    margin-top: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.download-section {
    margin-top: 3rem;
    background: #f2f2f2;
}

.socials-section {
    margin-top: 2rem;
    background: #f2f2f2;
}

.card {
    border-radius: 25px;
    background-color: #f2f2f2;
    border-color: white;
}

.social a {
    font-size: 4.5em;
    padding: 3rem;
}

.fa-github {
    color: #222;
}

.fa-youtube {
    color: #bb0000;
}

.dev-img {
    border-radius: 50%;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 50%;
    height: 50%;
}

.carousel {
    width: 70%;
    margin: 0 auto;
}


.col-centered{
    float: none;
    margin: 0 auto;
}

.offset:before {
    display: block;
    content: "";
    height: 4rem;
    margin-top: -5rem;
}

.card-title {
    font-weight: bold;
}

.devs {
    padding: 5em;
    width: 90%;
    height: 90%;
}

.dev-section {
    background: #ffffff;
}

.footer {
    margin-top: 1rem;
}



/*---Firefox Bug Fix --*/
.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}