* {
	margin: 0;
	padding: 0;
}

 @font-face {
		font-family: 'Comfortaa';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url(fonts/Comfortaa-Regular.ttf) format('opentype');
}
@font-face {
		font-family: 'Comfortaa-Bold';
		font-style: bold;
		font-weight: 400;
		font-display: swap;
		src: url(fonts/Comfortaa-Bold.ttf) format('opentype');
}

html {
	scroll-behavior: smooth;
}

#nav-bar {
		position: sticky;
		top: 0;
		z-index: 10;
	
}

.navbar-brand img {
	height: 40px;
	padding-left: 10px;
}

.navbar-nav li {
	padding: 0 10px;
}

.navbar-nav li a {
	float: right;
	text-align: right;
}

#nav-bar ul li a:hover {
	color: #ffffff!important;
}



.navbar-toggler {
	border: none!important;
}

.nav-link {
	color: #6f6f70!important;
	font-weight: 500;
	font-size: 16px;
	transition: 0.4s ease
}

#carousel {
}

/* damit die bilder dunkel sind aber nicht der text */
#imgc {
		filter: brightness(60%);
}


#about {
	padding-top: 20px;
	padding-bottom: 90px;
	color: #555;
}

#about .btn {
	margin-top: 20px;
	margin-bottom: 30px;
}

.about-content {
	padding-top: 20px;
}

.skills-bar p {
	margin-bottom: 6px;
	font-weight: 600;
}

.progress-bar {
	border-radius: 16px;	
}

.progress {
	border-radius: 16px !important;
	margin-bottom: 30px;
}
