html {
	margin: 20px;
	background-color: #EDF5C8;
}

body {
   font-family: 'Century Gothic', 'MS Sans Serif', arial; font-size: 32px; 
   font-weight: 300;
   color: #333;
}

h1 {
	font-size: 50px;
}

p {
	font-size: 20px;
	color: #E321A9;
}
